table {
    width: 100%;
}

.valor {
    margin-right: 5px;
    padding: 2px;
    background-color: rgb(228, 228, 228);
    border-radius: 2px;
}

.tableContainer {
    margin-left: 20px;
    margin-right: 20px;
}

.buttonContainer {
    margin-bottom: 10px;
}